<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyn.demos.mapper.ShareResourceMapper">
  <resultMap id="BaseResultMap" type="com.hyn.demos.entity.ShareResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="exchange_code" jdbcType="VARCHAR" property="exchangeCode"/>
    <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
    <result column="is_show" jdbcType="TINYINT" property="isShow"/>
    <result column="user_id" jdbcType="VARCHAR" property="userId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, exchange_code, resource_url, resource_name, is_show,user_id
  </sql>
</mapper>